.lanyard-wrapper {
  position: absolute; /* or 'relative' if you need it to be inside a parent element */
  top: -5vh; /* 5% from the top of the viewport */
  left:--5vw; 
  width: 30vw; /* 80% of the viewport width */
  height: 115vh; /* 90% of the viewport height */
  overflow: hidden;
}
